.about_me {
    height: 500px;
}

#about_content {
    padding-left: 10%;
    padding-right: 7%;
}

.self_intro_card {
    padding-bottom: 2%;
}
.self_intro_image_area {
    width: 30%;
    height: 400px;
    float: left;
}
.self_intro_text_area {
    width: 70%;
    float: left;
    text-align: left;
}
.card_general {
    padding-bottom: 100px;
}
.self_intro {

}
.intro_typg {
    font-size: 16px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.intro_image {
    width: 100%;
    height: 100%;
}
.intro_general {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.intro_head1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 3px !important;
    font-weight: 500 !important;
}
/* .intro_head1,span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 2px !important;
    font-weight: bold;
} */
/* .education_text,span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
} */
.skill_category {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.skill_item_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.skills_area {
    height: 500px;
}
.exp_area {
    height: 800px;
}
.skills_typg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.skills_icon_area {
    width: 100%;
}
.skills_sub_area {
    width: 25% !important;
    float: left !important;
}
.skill_item {
    padding-left: 25% !important;
    float: left !important;
    height: 100%;
}
.exps_sub_area {
    width: 30% !important;
    padding-left: 1.5% !important;
    padding-right: 1.5% !important;
    padding-bottom: 2% !important;
    float: left !important;
}
.exp_head {
    height: 16%;
    width: 100%;
}
.exp_company_logo {
    float: left !important;
    height: 100% !important;
    width: 25% !important;
}
.exp_company_logo_long {
    float: left !important;
    height: 100% !important;
    width: 40% !important;
}

.exp_avatar {
    height: 100% !important;
    width: 100% !important;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill !important;
}
.exp_card {
   height: 230px; 
}
.exp_desc {
    text-align: left;
    height: 40% !important;
    padding-left: 10%;
    padding-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.exp_role {
    float: left !important;
    height: 100% !important;
    width: 60% !important;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    display: flex;
    align-items: flex-end;
    font-size: 13px;
}
.exp_role_short {
    float: left !important;
    height: 100% !important;
    width: 40% !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    padding-left: 10%;
}
.exp_skill_item {
    float: left !important;
    width: 50px;
    margin: 0 auto;
    padding-top: 5%;
}
.exp_skill_icon {
    margin-left: auto;
  margin-right: auto;
  display: block;
}
.exps_card {
    height: 600px;
}
.exp_skill_area {
    padding-left: 10%;
}
.exp_card_content {
    height: 100% !important;
}