.about_me {
    height: 500px;
}

#about_content {
    padding-left: 18%;
    padding-right: 10%;
}

.self_intro_card {
    padding-bottom: 2%;
}
.self_intro_image_area {
    width: 30%;
    height: 400px;
    float: left;
}
.self_intro_text_area {
    width: 70%;
    float: left;
    text-align: left;
}
.card_general {
    padding-bottom: 100px;
}
.self_intro {

}
.intro_typg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.intro_image {
    width: 100%;
    height: 100%;
}
.intro_general {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
}
.intro_head1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 3px !important;
    font-weight: 500 !important;
}
/* .intro_head1,span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 2px !important;
    font-weight: bold;
} */
/* .education_text,span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
} */

.skills_area {
    height: 500px;
}
.exp_area {
    height: 800px;
}
.skills_typg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.skills_icon_area {
    width: 100%;
}
.skills_sub_area {
    width: 25% !important;
    float: left !important;
}
.skill_item {
    padding-left: 25% !important;
    float: left !important;
    height: 100%;
}
.exps_sub_area {
    width: 30% !important;
    padding-left: 1.5% !important;
    padding-right: 1.5% !important;
    padding-bottom: 2% !important;
    float: left !important;
}
.exp_head {
    height: 100%;
    width: 100%;
}
.exp_company_logo {
    height: 45px !important;
    width: 100px !important;
}
.exp_company_logo_narrow {
    height: 50px !important;
    width: 140px !important;
}

.exp_avatar {
    height: 100% !important;
    width: 100% !important;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill !important;
}
.exp_card {
   height: 200px; 
}
.exp_desc {
    text-align: left;
    padding-left: 10%;
    padding-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}