@font-face {
  font-family: 'JosefinSans-Regular';
  src: local('JosefinSans-Regular'), url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format('ttf');
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .content {
    /* padding-top: 68px; */
  }

  .scroll_down_area_visible {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .scroll_down_area_invisible {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    visibility: hidden;
  }
  #scroll_down_div {
    width: 10%;
    float: right;
    height: 70% !important;
  }
  .scroll_down_button {
    padding: 5px !important;
  }
  .schroll_down_icon {
    margin: 0 auto;
    height: 50px !important;
    width: 50px !important;
    cursor: pointer;
    opacity: 0.3;
  }
  .content_bottom {
    height: 5px;
  }
