.ff_content {
    width: 100%;
    height: 800px !important;
}

#word_puzzle {
    width: 100%;
    height: 500px !important;
    display: flex !important;
    align-self: center !important;
    padding-top: 50px;
}
.game_intro_card {
    width: 80% !important;
    height: 450px;
    margin: 0 auto !important;
}
#wp_info_area {
    height: 20% !important;
    text-align: left;
    font-size: 15px;
    font-family: 'Century_Gothic';
}
#wp_word_area {
    height: 35% !important;
    padding-left: 3%;
}
#wp_bottom_area {
    height: 10% !important;
    text-align: left;
    font-size: 15px;
    font-family: 'Century_Gothic';
}
.wp_cardcontent {
    height: 100% !important;
}
.wp_letter_box {
    float: left !important;
    /* width: 50px !important;
    height: 50px !important; */
}
.wp_letter_square {
    border: 1px solid darkcyan !important;
    /* display: flex;
    align-self: center; */
}
.wp_letter_span {
    width: 100%;
    height: 100%;
    /* font-size: 40px; */
    /* font-size: 5vw; */
    margin: 0 auto !important;
}
.wp_letter_lose {
    color: darkgrey;
    font-size: 40px;
    margin: 0 auto !important;
}
.wp_letter_won {
    color: rgb(25, 209, 49);
    /* font-size: 5vw; */
    height: 100% !important;    
    margin: 0 auto !important;
}
#wp_key_pressed {
    float: left;
    width: 25%;
    padding-left: 5%;
}
#wp_letter_count {
    float: left;
    width: 30%;
}
#wp_no_letter {
    float: left;
    width: 30%;
}
.wp_empty_letter {
    height: 80% !important;
    width: 100% !important;
    min-width: 100% !important;
}
.wp_mask {
    height: 20% !important;
    width: 100% !important;
    min-width: 100% !important;
    padding-left: 25%;
}
.wp_mask_text {
    border-top: 2px solid darkcyan;
    width: 50% !important;
    padding-left: 0% !important;
}
#wp_guessed_letters {
    /* float: left;
    width: 20%; */
}
#wp_chance_remaining {
    /* float: left;
    width: 30%; */
    padding-left: 5%;
}
.MuiBox-root {
    padding: 0px 0 0 0 !important;
}
.wp_bingo {
    padding-left: 5%;
}
.wp_restart {
    padding-left: 3%;
}

#ttt_area {
    width: 100%;
}
#ttt_square {
    margin: 0 auto !important;
    height: 350px;
    width: 350px;
}
.ttt_button {
    width: 33%;
    height: 33%;
    min-width: 33%;
    min-height: 33%;
    border: 1px solid darkcyan !important;
    border-radius: 0px !important;
    background-size: cover;
}
.ttt_button:hover {
    background-color: darkcyan !important;
}
#ttt_card {
    height: 700px !important;
}
.ttt_cardcontent {
    padding-top: 0px !important;
    height: 700px !important;
}
#ttt_content {
    padding-top: 30px !important;
}
.ttt_header {
    padding: 10px 0 0px 0 !important;

}
#ttt_info {
    width: 100%;
}
#ttt_won {
    padding: 0 10 10 10 !important;
    color: darkcyan;
}
#ttt_lost {
    padding: 0px;
    color: black;
}
#ttt_restart {
    padding: 15px !important;
}
#ms_card {
    margin: 0 auto !important;
    width: 60% !important;
}
.ms_cardcontent {
    width: 100%;
    height: 400px !important;
}
.ms_button {
    /* border: 1px solid darkcyan !important; */
    border-radius: 0 !important;
    min-width: 30px !important;
    min-height: 30px !important;
    max-width: 30px !important;
    max-height: 30px !important;
    background-size: cover !important;
}
#ms_info {
    padding: 2% !important;
}
#ms_content {
    height: 500px !important;
}
.ff_nav {
    background-color: #ffffff;
    border-top: 1px solid rgb(200, 200, 200);
}
#tetris_canvas_div {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
#tetris_canvas {
    height: 100% !important;
}
#tetris_canvas_left {
    width: 42%;
    height: 400px;
    float: left;
}
#tetris_canvas_main {
    width: 16%;
    float: left;
    height: 400px;
    border-bottom: 1px solid lightgray;
}
#tetris_canvas_right {
    width: 42%;
    height: 400px;
    float: left;
    
    margin-right: auto;
    margin-left: 0;
}
#tetris_sub_canvas {
    margin: 0 auto;
    /* border: 0.5px solid black; */
}
#tetris_canvas_right_content {
    float: left;
    width: 20%;
}
#tetris_sub_title {
    width: 100%;
    text-align: center;
}
#civ5_canvas0 {
    position: absolute;
    z-index: 0;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
#civ5_canvas1 {
    position: absolute;
    z-index: 1;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
#civ5_canvas_div {
    position: relative;
    width: 100%;
    height: 750px;
}

#rest_left {
    float: left !important;
    width: 30%;
    margin: 0 auto;
}
#rest_right {
    float: left !important;
    width: 70%;
    /* height: 850px; */
}
#rest_left_content {
    margin: 0 auto !important;
    text-align: center;
    width: 100%;
}
.rest_list_text {
    text-align: center !important;
}
.rest_left_list {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    border: solid lightgray 1px;
    border-radius: 5px;
}
#rest_left_top {
    width: 100%;
    height: 70% !important;
}
#rest_left_bot {
    width: 100%;
    height: 30% !important;
}
.res_left_bot_comp {
    width: 100%;
    height: 50%;
}
#res_add_button_div {
    margin-top: 5%;
}
.add_res_button {
    max-width: 30% !important;
    min-width: 30% !important;
}
.res_list_item {
    border-bottom: solid lightgray 1px !important;
}