@font-face {font-family: "PayPal Sans Big"; src: url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.eot"); src: url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.woff") format("woff"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.svg#PayPal Sans Big") format("svg"); }
@font-face {font-family: "PayPal Sans Big Light"; src: url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.eot"); src: url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.woff") format("woff"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.svg#PayPal Sans Big Light") format("svg"); }
@font-face {
    font-family: 'JosefinSans_Regular';
    src: local('JosefinSans_Regular'), url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_Light';
    src: local('JosefinSans_Light'), url(../fonts/josefin-sans/JosefinSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_Bold';
    src: local('JosefinSans_Bold'), url(../fonts/josefin-sans/JosefinSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_Thin';
    src: local('JosefinSans_Thin'), url(../fonts/josefin-sans/JosefinSans-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_SemiBold';
    src: local('JosefinSans_SemiBold'), url(../fonts/josefin-sans/JosefinSans-SemiBold.ttf) format('truetype');
}

#reply_textbox {
    font-family: 'JosefinSans_Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.leave_reply_textbox {
}
.comment_text_area {
    width: 80% !important;
    margin: 0 auto;
}
.comment_text_area, label {
    font-family: 'JosefinSans_Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.more_info_area {
    width: 80% !important;
    margin: 0 auto;
    padding-top: 20px;
}
.more_info_area, label {
    font-family: 'JosefinSans_Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.leave_reply_area, input {
    font-family: 'JosefinSans_Light', 'Segoe UI' !important;
}
.leave_reply_area, textarea {
    font-family: 'JosefinSans_Light', 'Segoe UI' !important;
}
.more_info_item {
    float: left !important;
    width: 30% !important;
    height: 56px !important;
}
.more_info_name {
    
}
.more_info_email {
    padding-left: 3% !important;
}
.reply_submit_button {
    max-width: 80% !important;
    max-height: 80% !important;
    min-width: 80% !important;
    min-height: 80% !important;
    font-family: 'JosefinSans_Light', 'Segoe UI' !important;
    letter-spacing: 2px !important;
}
.more_info_submit {
    padding-left: 3% !important;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}