.navigation {
    height: 200px;
    width: 100%;
}

.avatar_panel {
    height: 80%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* padding-left: 20%; */
    /* padding-right: 10%; */
    background-color: white;
}
.avatar_panel_upper {
    padding-left: 20%;
    padding-right: 10%;
}
.avatar_area {
    /* width: 150px;
    height: 150px; */
    width: 30%;
    float: left;
}
.main_intro {
    width: 70%;
    float: left;
    height: 100%;
    vertical-align: middle;
}

.navigation_bar {
    background-color: darkgray;
    height: 20%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#self_intro {
    padding-bottom: 100px;

}

.active_nav_tab {
    background-color: rgb(229, 228, 228) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 4px !important;
}
.inactive_nav_tab {
    background-color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 2px !important;
}

.avatar {
    width: 50px;
    height: 50px;
}

.main_name {
    font-size: 30px;
    height: 30%
}
.main_subintro {
    font-size: 15px;
}
#social_ntwk_area {
    text-align: center;
    display: block;
}
.sc_ntwk_logo {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}