@import url(//db.onlinewebfonts.com/c/ff7a83eeca3860fbe4779cb3dd35d4b8?family=PayPal+Sans+Big+Thin);
@font-face {font-family: "PayPal Sans Big"; src: url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.eot"); src: url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.woff") format("woff"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/44994582bcefd02119158ff8b0d16b75.svg#PayPal Sans Big") format("svg"); }
@font-face {font-family: "PayPal Sans Big Light"; src: url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.eot"); src: url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.woff") format("woff"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.svg#PayPal Sans Big Light") format("svg"); }
@font-face {
    font-family: 'JosefinSans_Regular';
    src: local('JosefinSans_Regular'), url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_Light';
    src: local('JosefinSans_Light'), url(../fonts/josefin-sans/JosefinSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_Bold';
    src: local('JosefinSans_Bold'), url(../fonts/josefin-sans/JosefinSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_Thin';
    src: local('JosefinSans_Thin'), url(../fonts/josefin-sans/JosefinSans-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans_SemiBold';
    src: local('JosefinSans_SemiBold'), url(../fonts/josefin-sans/JosefinSans-SemiBold.ttf) format('truetype');
}

.navigation {
    height: 200px;
    width: 100%;
}

.main_avatar {
    width: 150px !important;
    height: 150px !important;
}

.avatar_panel {
    height: 80%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* padding-left: 20%; */
    /* padding-right: 10%; */
    background-color: white;
}
.avatar_panel_upper {
    padding-left: 20%;
    padding-right: 10%;
}
.avatar_area {
    /* width: 150px;
    height: 150px; */
    width: 30%;
    float: left;
}
.main_intro {
    width: 70%;
    float: left;
    height: 100%;
    vertical-align: middle;
}

.navigation_bar {
    background-color: darkgray;
    height: 20%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.active_nav_tab {
    background-color: rgb(229, 228, 228) !important;
    font-family: 'JosefinSans_Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 4px !important;
}
.inactive_nav_tab {
    background-color: white !important;
    font-family: 'JosefinSans_Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 2px !important;
}

.avatar {
    width: 50px;
    height: 50px;
}

.main_name {
    font-size: 30px;
    height: 30%;
    font-family: 'PayPal Sans Big', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.main_subintro {
    font-size: 15px;
    font-family: 'PayPal Sans Big Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
#social_ntwk_area {
    text-align: center;
    display: block;
}
.sc_ntwk_logo {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}
.swipable_views {
    overflow-y: hidden !important;
}
